<div class="login">
    <div class="forms">
        <h2>Login</h2>
        <b class="mensagem">{{mensagem}}</b>

        <form>
            <div class="inputs">
                <label for="email">Email:</label>
                <input type="email" id="email" [(ngModel)]="user.email" name="email">
            </div>

            <div class="inputs">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" [(ngModel)]="user.senha" name="senha">
            </div>

            <div class="esqueci-senha">
                <a href="./esqueci">Recuperar sua senha</a>
            </div>

            <button type="submit" class="botaoEntrar" (click)="fazerLogin()">Entrar</button>

            <div class="cadastre-se">
                Não tem conta? 
                <button type="button" class="botaoCadastre" (click)="criarCadastro()">Cadastre-se</button>
            </div>
        </form>
    </div>
</div>
