<div class="container-esqueci">
    <div class="formulario">
        <h2>Esqueceu sua senha?</h2>
        <p>Enviaremos um email com instruções para a redefinição de senha.</p>

        <b class="mensagem">{{mensagem}}</b>

        <form>
            <div class="inputs">
                <label for="email">Email: </label>
                <input type="email" id="email" [(ngModel)]="user.email" name="email">
            </div>

            <button type="submit" class="botao-enviar" (click)="reenviarIntrucoes()">Enviar</button>
        </form>
    </div>
</div>
