<div class="cesta">
    <h1>Carrinho de Compras</h1>
    <h3>{{mensagem}}</h3>
    <table>
        <tr>
            <th>Cod.</th>
            <th>Nome</th>
            <th>Qtd</th>
            <th>Valor R$</th>
            <th>Total por item R$</th>
            <th>Ação</th>
        </tr>
        <tr *ngFor="let x of cesta.itens">
            <td>{{x.codigo}}</td>
            <td>{{x.produto.nome}}</td>
            <td>{{x.quantidade}}</td>
            <td>{{x.produto.valor | currency: 'BRL':'symbol':'1.2-2'}}</td>
            <td>{{x.valor | currency: 'BRL':'symbol':'1.2-2'}}</td>
            <td><button class="delete-btn" (click)="excluiItens(x)">x</button></td>
        </tr>
        <tr>
            <td class="total" colspan="4">Valor Total</td>
            <td colspan="2">{{cesta.total | currency: 'BRL':'symbol':'1.2-2'}}</td>
        </tr>
    </table>
    <button (click)="esvaziaCarrinho()">Esvaziar</button>
    <button class="finalizar">Finalizar Compra</button>
</div>
