.dados-cliente {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 650px;
    text-align: center;
    margin: auto;
}

.dados-cliente h2 {
    font-size: 28px;
    color: #4A90E2;
    margin-bottom: 20px;
    font-weight: 600;
}

.mensagem {
    margin-bottom: 15px;
    color: #333333;
    font-weight: bold;
}

.inputs {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.inputs label {
    font-size: 14px;
    color: #333;
    flex-basis: 30%;
    text-align: right;
    margin-right: 15px;
}

.inputs input {
    width: 50%;
    padding: 12px;
    font-size: 14px;
    border: 2px solid #66b3ff;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.inputs input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.botao {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.2s;
}

.botao:hover {
    background-color: #006aff;
}

.link-login {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.link-login a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.link-login a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .dados-cliente {
        width: 90%;
        padding: 20px;
    }

    .inputs label {
        flex-basis: 20%;
        text-align: left;
        margin-bottom: 5px;
    }

    .inputs input {
        width: 100%;
    }

    .botao {
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .dados-cliente {
        width: 90%;
        padding: 10px;
        margin-top: 10px;
    }

    .inputs {
        flex-direction: column;
        align-items: stretch;
    }

    .inputs input {
        padding: 8px;
    }

    .botao {
        font-size: 14px;
        padding: 10px;
    }
}
